body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Make sure the video is behind other content */
}

.video-container a {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none; /* Prevent default touch actions */
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    cursor: pointer; /* Add cursor pointer to indicate clickable area */
    transition: opacity 0.3s ease-in-out; /* Add transition for hover effect */
    pointer-events: none; /* Allow click through video */
}

.video-container a:hover .background-video {
    opacity: 0.8; /* Change opacity on hover */
}

@media (max-width: 768px) {
    .background-video {
        min-width: auto;
        min-height: auto;
        width: 100%;
        height: 100%;
    }
}
